.product-card{

width:280px;

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}



.product-card:hover{

transform:translateY(-5px);

}



.product-card img{

width:100%;

height:220px;

object-fit:cover;

}



.product-info{

padding:20px;

}



.product-info h3{

font-size:22px;

margin-bottom:10px;

}



.product-info p{

color:#666;

}



.product-price{

font-size:20px;

font-weight:bold;

margin:15px 0;

color:#1b8f3a;

}



.product-meta{

display:flex;

justify-content:space-between;

font-size:14px;

}



.product-card button{

margin-top:20px;

width:100%;

padding:12px;

border:none;

border-radius:8px;

background:#1b8f3a;

color:white;

cursor:pointer;

}



.product-card button:hover{

background:#146c2c;

}